apiVersion: v1
kind: Service
metadata:
  labels:
    app: argocd-demo-deployment-dev
    env: dev
  name: argocd-demo-service
  namespace: dev
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: argocd-demo-deployment-dev
  type: NodePort
status:
  loadBalancer: {}