apiVersion: v1
kind: Service
metadata:
  labels:
    app: argocd-demo-deployment-prod
    env: prod
  name: argocd-demo-service
  namespace: prod
spec:
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: argocd-demo-deployment-prod
  type: NodePort
status:
  loadBalancer: {}